// Font Family
$futura: 'Futura', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

// Font Weight
$font-light: 300;
$font-medium: 500;
$bold: 700;

// Font Sizes
$xxxx-large: 40px;
$xxx-large: 35px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

// Color Scheme
// basics
$white: #FFF;
$black: #000;
$black-olive: #393E41;
$gray: #BABABA;

// buttons
$verdigris: #44BBA4;
$medium-aquamarine: #66C7B4;

$carmine-pink: #E94F37;
$salmon: #EF7F6D;
